<div class="form-and-details l-horizontal-center">

  <div class="details">

    <h2>My Account</h2>

    <div>
    Unhappy? <%= button_to "Cancel my account.", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "link-button", :form_class => "inline-block" %>
    </div>

    <%= link_to "Back to MusicReader", "/", :class => "btn btn--hollow" %>

  </div>

  <%= form_for(resource, :as => resource_name,
                         :url => registration_path(resource_name),
                         :html => { :method => :put, :class => "vertical-form small-input-form" }) do |f| %>

    <%= devise_error_messages! %>

    <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    </fieldset>

    <fieldset>
      <span class="hint float-right">Leave blank if you don't want to change it.</span>
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, :autocomplete => "off" %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </fieldset>

    <div><%= f.submit "Update", :class => "btn" %></div>
  <% end %>

</div>