<div class="form-and-details l-absolute-center">
  <div class="details">
    <h2>Sign Up</h2>
    <h3>Join <a href="/">MusicReader</a></h3>
    <ul class="paragraph-list">
      <%= render "devise/shared/links" %>
    </ul>
  </div>

  <%= form_for resource, :as => resource_name,
                         :url => registration_path(resource_name),
                         :html => {class: "two-field-form"} do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, :autofocus => true, :class => "top-half", :placeholder => "Email" %>
    <%= f.password_field :password, :class => "bottom-half", :placeholder => "Password" %>

    <div><%= f.submit "Sign up", :class => "btn" %></div>
  <% end %>

</div>