{{#each feeds}}
  <li data-id="{{id}}">
    {{{feedToggleSubscriptionButton id}}}
      <a href="/#/feeds/{{id}}">
        <i class="browse-feeds__icon">
          {{{feedFavicon site_url}}}
        </i>
        <h3 class="browse-feeds__title">{{title}}</h3>
      </a>
    <p class="browse-feeds__secondary">
      {{#if description}}
        {{description}}
      {{else}}
        {{site_url}}
      {{/if}}
    </p>
  </li>
{{/each}}
  <li class="text-center">
    <span class="browse-feeds__title">
      Don't see your favourite blog here? <a href="mailto:{{{contactEmail}}}" class="icon-mail">Contact Us.</a>
    </span>
  </li>