{{#each feeds}}
<li data-id="{{id}}">
  {{{feedToggleSubscriptionButton id}}}
    <a href="{{site_url}}" target="blank">
      <i class="browse-feeds__icon">
        {{{feedFavicon site_url}}}
      </i>
      <h3 class="browse-feeds__title">{{title}}</h3>
    </a>
  <p class="browse-feeds__secondary">
    {{#if description}}
      {{description}}
    {{else}}
      {{site_url}}
    {{/if}}
  </p>
</li>
{{/each}}