<div class="media__body player__body">
  <span class="player__duration float-right"> {{{msToTimestamp duration}}}     </span>
  <h2 class="player__title l-ellip">          {{title}}                          </h2>
  <span class="player__secondary l-ellip">    {{{feedNamesForPlayer entries}}} </span>
  <span class="player__tertiary"> {{!Put back l-ellip here if you're gonna make
                                    this longer. It was removed cause the overflow: hidden
                                    was cutting off the badge.}}
    <ul class="inline-list">
      <li>{{{songKindBadge kind}}}</li>
      <li>
        <a class="icon-{{provider}}" target="blank" href="{{public_link}}">
          {{{playerPublicLinkText kind}}} {{provider}}
        </a>
      </li>
    </ul>
  </span>

  <div class="l-bottom-full l-absolute">
    <div class="song__controls float-left {{#if favorited}} is-favorited {{/if}}">
      {{> songs/_song_controls this }}
    </div>

    <div class="player__controls float-right">
      <button class="js-navigate-playlist" data-direction="prev">
        <i class="icon-prev"></i>
      </button>
      {{#if playing}}
        <button class="js-pause">
          <i class="icon-pause"></i>
        </button>
      {{else}}
        <button class="js-play">
          <i class="icon-play"></i>
        </button>
      {{/if}}
      <button class="js-navigate-playlist" data-direction="next">
        <i class="icon-next"></i>
      </button>
    </div>
  </div>
</div>