<div class="form-and-details l-absolute-center">
  <div class="details">
    <h2>Forgot your <br>password?</h2>
    <ul class="paragraph-list bullet-list--block">
      <%= render "devise/shared/links" %>
    </ul>
  </div>

  <%= form_for(resource, :as => resource_name,
                         :url => password_path(resource_name),
                         :html => { :class => "one-field-form", :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, :autofocus => true, :placeholder => "Your email" %>

    <div><%= f.submit "Send me reset instructions", :class => "btn" %></div>
  <% end %>

</div>