<div class="header">

  <ul class="header__controls float-right">
    {{> layouts/_settings_dropdown }}
  </ul>

  <h1 class="header__title l-ellip">Browse Blogs</h1>

</div>

<ul class="browse-feeds-list">
  {{#each feeds}}
  <li>
    {{{feedToggleSubscriptionButton id}}}
      <a href="{{site_url}}" target="blank">
        <i class="browse-feeds__icon">
          <img src="http://g.etfv.co/{{{site_url}}}">
        </i>
        <h3 class="browse-feeds__title">{{title}}</h3>
      </a>
    <p class="browse-feeds__secondary">{{description}}</p>
  </li>
  {{/each}}
</ul>