<li class="{{{selectedFeedClass selectedFeedId 'all'}}}">
  <a href="#">
    <span class="feed__icon--not-favicon">
      <i class="icon-music"></i>
    </span>
    <span class="feed__unheard-count">
      {{{ifPositive totalUnheardCount}}}
    </span>
    <span class="feed__title">All</span>
  </a>
</li>

<li class="{{{selectedFeedClass selectedFeedId 'favorites'}}}">
  <a class="l-ellip" href="/#/favorites">
    <span class="feed__icon--not-favicon">
      <i class="icon-heart"></i>
    </span>
    <span class="feed__title">Favorites</span>
  </a>
</li>

{{#each feeds}}
  <li class="{{{selectedFeedClass ../selectedFeedId id}}}">
    <a href="#/feeds/{{id}}">
      <i class="feed__icon">
        {{{feedFavicon site_url}}}
      </i>
      <span class="feed__unheard-count">{{{ifPositive unheard_count}}}</span>
      <span class="feed__title">{{title}}</span>
    </a>
  </li>
{{/each}}
