<ul class="sidebar__body sidebar__list feed-list">
  <li>
    <a href="#">
      <span class="feed__unheard-count float-right">
        {{{totalUnheardCount feeds}}}
      </span>
      <span class="feed__title l-ellip">All</span>
    </a>
  </li>
  <li><a class="icon-heart l-ellip" href="/#/favorites">Favorites</a></li>
  {{#each feeds}}
    <li>
      <a href="#/feeds/{{id}}">
        <span class="feed__unheard-count float-right">{{unheard_count}}</span>
        <span class="feed__title l-ellip">{{title}}</span>
      </a>
    </li>
  {{else}}
    <li>No feeds.</li>
  {{/each}}
</ul>