<li class="{{#if selected}} is-selected {{/if}}
           {{#if listened}} is-listened {{/if}}
           {{#if favorited}} is-favorited {{/if}}" data-id="{{id}}" data-provider="{{provider}}">

  <div class="media__body">
    <div class="song__controls">
      {{> songs/_song_controls this }}
    </div>

    <a href="#" class="js-select-song song__trigger">
      <div class="cf">
        <div class="media__img--no-margin song__img-wrapper">
          <img src="{{artwork_url}}" />
        </div>

        <div class="media__body song__body">
          <span class="song__aside float-right">
            <ul class="inline-list">
              <li>{{{songKindBadge kind}}}</li>
              <li>{{{msToTimestamp duration}}}</li>
            </ul>
          </span>
          <div class="song__title">
            {{title}}
          </div>
          <div class="song__blogs">
            {{{firstEntryTimeAgo entries}}} &bull; {{{joinFeedNames entries}}}
          </div>
        </div>
      </div>
    </a>
  </div>

</li>