<div class="player__visual media__img">
  <i class="js-player-spinner player__spinner icon-spinner animate-spin"></i>
  {{{currentSongVisual provider artwork_url}}}
</div>
<div class="media__body player__heading">
  <div class="player__title l-ellip">
    <a target="blank" href="{{public_link}}">{{title}}</a>
  </div>
  <div class="player__blogs l-ellip">
    {{{msToTimestamp duration}}} -
    {{{joinFeedNamesWithLink entries}}}
  </div>
</div>