<div class="player__visual media__img">
  {{{spinner provider}}}
  {{{currentSongVisual provider artwork_url}}}
</div>
<div class="media__body player__body">
  <span class="player__duration float-right">{{{msToTimestamp duration}}}</span>
  <div class="player__title l-ellip">
    <a target="blank" href="{{public_link}}">{{title}}</a>
  </div>
  <div class="player__blogs l-ellip">
    {{{feedNamesForPlayer entries}}}
  </div>
</div>

<div class="player__controls">
  <button class="js-navigate-playlist" data-direction="prev">
    <i class="icon-prev"></i>
  </button>
  <button class="js-pause">
    <i class="icon-pause"></i>
  </button>
  <button class="js-navigate-playlist" data-direction="next">
    <i class="icon-next"></i>
  </button>
</div>