<div class="player__visual media__img">
  {{{spinner provider}}}
  {{{currentSongVisual provider artwork_url}}}
</div>
<div class="media__body player__body">
  <span class="player__duration float-right"> {{{msToTimestamp duration}}}     </span>
  <h2 class="player__title l-ellip">          {{title}}                          </h2>
  <span class="player__secondary l-ellip">    {{{feedNamesForPlayer entries}}} </span>
  <span class="player__tertiary l-ellip">
    <a class="icon-{{provider}}" target="blank" href="{{public_link}}">View on {{provider}}</a>
  </span>

  <div class="song__controls float-left {{#if favorited}} is-favorited {{/if}}">
    {{> songs/_song_controls this }}
  </div>

  <div class="player__controls float-right">
    <button class="js-navigate-playlist" data-direction="prev">
      <i class="icon-prev"></i>
    </button>
    <button class="js-pause">
      <i class="icon-pause"></i>
    </button>
    <button class="js-navigate-playlist" data-direction="next">
      <i class="icon-next"></i>
    </button>
  </div>
</div>