{{#ifCurrentUser}}

  {{#unless feed.ownedByUser}}
    <ul class="header__controls float-left">
      <li class="large">
        <a href="/#/browse"><i class="icon-left-open"></i></a>
      </li>
    </ul>
  {{/unless}}

  <ul class="header__controls float-right">

    {{#if feed.site_url}}
      <li>
        {{#if feed.ownedByUser}}
          <button class="js-unsubscribe-feed">Unfollow</button>
        {{else}}
          <button class="js-follow-feed blue large icon-plus">Follow</button>
        {{/if}}
      </li>
    {{/if}}

    {{#if feed.ownedByUser}}
      <li>
        <button class="js-mark-all-as-heard">Mark all as heard</button>
      </li>

      <li>
        <button class="js-toggle-view-heard">
          {{#if user.hide_heard_songs}} Show {{else}} Hide {{/if}} heard songs
        </button>
      </li>
    {{/if}}

    {{> layouts/_settings_dropdown }}

  </ul>

  <h1 class="header__title l-ellip">
    {{#if feed.site_url}}
      <a href="{{feed.site_url}}" target="blank">{{feed.title}}</a>
    {{else}}
      {{feed.title}}
    {{/if}}
  </h1>

{{else}}

  <ul class="header__controls float-right">
    <li>
      <a class="large icon-mail" href="mailto:{{{contactEmail this}}}">Contact</a>
    </li>
    <li>
      <a class="large icon-login" href="/login">Login</a>
    </li>
  </ul>
  <h1 class="header__title l-ellip">Latest Songs</h1>

{{/ifCurrentUser}}