<div class="float-right">
  <button class="js-mark-all-as-heard link-button">Mark all as heard</button>
  <button class="js-toggle-view-heard link-button">
    {{#if user.hide_heard_songs}} Show {{else}} Hide {{/if}} heard songs
  </button>
  <button class="icon-gear link-button"></button>

  <div style="display:none">
    <span class="l-ellip">{{user.email}}</span>
    <form class="float-right" method="post" action="/users/sign_out">
      <input name="_method" type="hidden" value="delete" />
      <input class="link-button" value="Sign out" type="submit" />
    </form>
  </div>
</div>

<h2 class="song-list__title l-ellip">
  {{#if feed.site_url}}
    <a href="{{feed.site_url}}" target="blank">{{feed.title}}</a>
    <button class="js-unsubscribe-feed link-button">Unsubscribe</button>
  {{else}}
    {{feed.title}}
  {{/if}}
</h2>
