<h2>
  <a href="{{data.permalink_url}}">{{data.title}} - {{data.user.username}}</a>
</h2>
{{#each song.entries}}
  <a href='{{link}}' target="blank"> Blogged by {{feed.title}} </a>
{{/each}}
<button class="js-delete-song">&times;</button>
<img src="{{data.artwork_url}}">