
<div class="form-and-details l-absolute-center">
  <div class="details">
    <h2>Login</h2>
    <h3>to <a href="/">MusicReader</a></h3>
    <ul class="paragraph-list bullet-list--block">
      <%= render "devise/shared/links" %>
    </ul>
  </div>

  <%= form_for resource, :as => resource_name,
                         :url => session_path(resource_name),
                         :html => {class: "two-field-form"} do |f| %>

    <%= f.email_field :email, :autofocus => true, :class => "top-half", :placeholder => "Email" %>
    <%= f.password_field :password, :class => "bottom-half", :placeholder => "Password" %>

  <!--   <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%> -->

    <div><%= f.submit "Login", :class => "btn" %></div>
  <% end %>
</div>