<!DOCTYPE html>
<html>
<head>
  <title><% if Rails.env == "development" %> DEVELOPMENT <% end %>TrackAcid</title>
  <meta name="description" content="An RSS reader for music blogs. The best way to discover new music - before everyone else.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/analytics" %>
</head>
<body>

<div class="alerts"></div>

<script type="application/data" id="alerts-json">
  <%= {:notice => notice, :error => alert}.to_json.html_safe %>
</script>

<%= yield %>

</body>
</html>
