<!DOCTYPE html>
<html>
<head>
  <title>TrackAcid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>

<div class="alerts"></div>

<script type="application/data" id="alerts-json">
  <%= {:notice => notice, :error => alert}.to_json.html_safe %>
</script>

<%= yield %>

</body>
</html>
